
{% extends 'base.html' %}

{% block title %} All Categories {% endblock %}

{% block body %}
<section class="max-w-7xl mx-auto px-6 lg:px-12 py-16">
 
    <h2 class="text-4xl font-bold text-gray-800 mb-10 text-center">All Categories</h2>

    <div class="grid grid-cols-2 md:grid-cols-4 gap-6">
        <!-- Category 1 -->
        <div class="bg-white rounded-xl shadow hover:shadow-lg p-6 text-center">
            <img src="../static/images/categories-1.jpg" alt="Personal Care"
                class="h-39 mx-auto mb-4 rounded-lg object-cover">
            <h3 class="font-semibold text-gray-700">Personal Care</h3>
        </div>

        <!-- Category 2 -->
        <div class="bg-white rounded-xl shadow hover:shadow-lg p-6 text-center">
            <img src="../static/images/categories-2.jpg" alt="Fruits & Vegetables"
                class="h-39 mx-auto mb-4 rounded-lg object-cover">
            <h3 class="font-semibold text-gray-700">Fruits & Vegetables</h3>
        </div>

        <!-- Category 3 -->
        <div class="bg-white rounded-xl shadow hover:shadow-lg p-6 text-center">
            <img src="../static/images/categories-3.jpg" alt="Electronics"
                class="h-39 mx-auto mb-4 rounded-lg object-cover">
            <h3 class="font-semibold text-gray-700">Electronics</h3>
        </div>

        <!-- Category 4 -->
        <div class="bg-white rounded-xl shadow hover:shadow-lg p-6 text-center">
            <img src="../static/images/categories-4.jpg" alt="Snacks"
                class="h-39 mx-auto mb-4 rounded-lg object-cover">
            <h3 class="font-semibold text-gray-700">Snacks</h3>
        </div>

        <!-- Category 5 -->
        <div class="bg-white rounded-xl shadow hover:shadow-lg p-6 text-center">
            <img src="../static/images/categories-5.jpg" alt="Beverages"
                class="h-39 mx-auto mb-4 rounded-lg object-cover">
            <h3 class="font-semibold text-gray-700">Beverages</h3>
        </div>

        <!-- Category 6 -->
        <div class="bg-white rounded-xl shadow hover:shadow-lg p-6 text-center">
            <img src="../static/images/categories-6.jpg" alt="Dairy & Eggs"
                class="h-39 mx-auto mb-4 rounded-lg object-cover">
            <h3 class="font-semibold text-gray-700">Dairy & Eggs</h3>
        </div>

        <!-- Category 7 -->
        <div class="bg-white rounded-xl shadow hover:shadow-lg p-6 text-center">
            <img src="../static/images/categories-7.jpg" alt="Bakery"
                class="h-39 mx-auto mb-4 rounded-lg object-cover">
            <h3 class="font-semibold text-gray-700">Bakery</h3>
        </div>

        <!-- Category 8 -->
        <div class="bg-white rounded-xl shadow hover:shadow-lg p-6 text-center">
            <img src="../static/images/categories-8.jpg" alt="Household Essentials"
                class="h-39 mx-auto mb-4 rounded-lg object-cover">
            <h3 class="font-semibold text-gray-700">Household Essentials</h3>
        </div>

        <!-- Category 9 -->
        <div class="bg-white rounded-xl shadow hover:shadow-lg p-6 text-center">
            <img src="../static/images/categories-9.jpg" alt="Meat & Seafood"
                class="h-39 mx-auto mb-4 rounded-lg object-cover">
            <h3 class="font-semibold text-gray-700">Meat & Seafood</h3>
        </div>

        <!-- Category 10 -->
        <div class="bg-white rounded-xl shadow hover:shadow-lg p-6 text-center">
            <img src="../static/images/categories-11.jpg" alt="Stationery"
                class="h-39 mx-auto mb-4 rounded-lg object-cover">
            <h3 class="font-semibold text-gray-700">Stationery</h3>
        </div>

        <!-- Category 11 -->
        <div class="bg-white rounded-xl shadow hover:shadow-lg p-6 text-center">
            <img src="../static/images/categories-11.jpg" alt="Sports & Fitness"
                class="h-39 mx-auto mb-4 rounded-lg object-cover">
            <h3 class="font-semibold text-gray-700">Sports & Fitness</h3>
        </div>
    </div>
</section>
{% endblock %}
